In [1]:
import pandas as pnd
import numpy as nmp
from sklearn.model_selection import train_test_split ,GridSearchCV,cross_val_score
from sklearn.metrics import r2_score , mean_squared_error , mean_absolute_error
import xgboost as xgb

In [9]:
data = pnd.read_excel(r"C:\Users\sbura\Desktop\Bitirme Projesi\Model Tabloları\Audi.xlsx")

In [3]:
data.drop(["Unnamed: 0"],axis=1,inplace=True)

In [4]:
data

,Fiyat,Yıl,Motor Gücü,Motor Hacmi,Kilometre,Boya,Değişen,Yakıt_Benzin,Yakıt_Dizel,Yakıt_LPG & Benzin,...,Model_1.6 JTDM-2 Super,Model_1.6 TS,Model_1.6 TS Black Line,Model_1.6 TS Distinctive,Model_1.6 TS Progression,Model_2.0 TS,Model_2.0 TS Distinctive,Model_2.0 TS Executive,Model_2.0 TS Selespeed,Model_2.0 TS Selespeed Distinctive
0,68000,1998,155,1970,400000,13,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,423000,2017,170,1368,63000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,72500,1998,155,1970,289766,6,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,89000,2004,120,1598,298000,1,13,0,0,1,...,0,0,0,0,1,0,0,0,0,0
4,160000,2005,120,1598,175000,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,277750,2015,105,1598,184000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
174,80001,2000,120,1598,200000,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
175,120000,2004,120,1598,214000,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
176,430000,2016,170,1368,98000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
177,161500,2005,120,1598,240000,0,1,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [5]:
x = data.drop("Fiyat",axis=1)
y = data["Fiyat"]
x_train, x_test , y_train, y_test = train_test_split(x,y,test_size=0.30,random_state=42)

In [6]:
xgb_tuned = xgb.XGBRegressor(colsample_bytree = 0.9,learning_rate = 0.01,max_depth = 4,n_estimators = 600)

In [7]:
xgb_tuned.fit(x_train,y_train)
pred = xgb_tuned.predict(x_test)

In [10]:
def get_column_names(col_name:str):
    columns = data.columns
    liste = []
    for col in columns:
        if col_name in col:
            liste.append(col)
    return liste

In [11]:
def converting(column:str,col_name:str):
    liste = get_column_names(column)
    predict_list = list(nmp.zeros(len(liste),dtype=int))
    for item in liste:
      index=0
      if item.endswith(col_name):
        itemindex = liste.index(item)
        predict_list[index] = 1
        index+=1
    return predict_list

# Pickle

In [2]:
import pickle

In [3]:
model_dosyasi= "Alfa Romeo.pickle"

In [4]:
pickle.dump(xgb_tuned, open(model_dosyasi, 'wb'))

NameError: name 'xgb_tuned' is not defined

In [12]:
tahmin_verisi = [2015,251,2501,40000,0,0]

In [13]:
tahmin_verisi.extend(converting("Yakıt","Dizel"))

In [14]:
tahmin_verisi.extend(converting("Vites","Otomatik"))

In [15]:
tahmin_verisi.extend(converting("Seri","A8"))

In [16]:
tahmin_verisi.extend(converting("Model","4.2 Quattro"))

In [ ]:
len(tahmin_verisi)

In [5]:
mymodel = pickle.load(open("Audi.pickle", 'rb'))

In [18]:
mymodel.predict(nmp.array(tahmin_verisi).reshape(1,-1))

array([1470445.], dtype=float32)

In [6]:
data

NameError: name 'data' is not defined