In [1]:
import pandas as pnd
import numpy as nmp
from sklearn.model_selection import train_test_split ,GridSearchCV,cross_val_score
from sklearn.metrics import r2_score , mean_squared_error , mean_absolute_error
import xgboost as xgb
import pickle

data = pnd.read_excel(r"C:\Users\sbura\Desktop\Bitirme Projesi\Model Tabloları\Renault.xlsx")
data.drop(["Unnamed: 0"],axis=1,inplace=True)
data

,Fiyat,Yıl,Motor Gücü,Motor Hacmi,Kilometre,Boya,Değişen,Yakıt_Benzin,Yakıt_Dizel,Yakıt_LPG & Benzin,...,Model_1.9 DTi RTE,Model_1.9 dCi Authentique,Model_1.9 dCi Expression,Model_1.9 dCi Privilege,Model_2.0 Dynamique,Model_2.0 Privilege,Model_2.0 RXE,Model_2.0 RXT,Model_2.0 T Sport,Model_3.0 Initial
0,205000,2015,75,1461,162000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,299950,2016,110,1461,104000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,393000,2017,110,1461,110000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,370000,2017,110,1461,129755,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,148000,2012,65,1461,237000,2,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1906,90000,2000,75,1390,237000,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1907,177000,2012,105,1461,255000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1908,155000,2010,105,1461,204000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1909,135000,2012,110,1461,297000,13,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1910,150000,2004,115,1598,232000,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [2]:
x = data.drop("Fiyat",axis=1)
y = data["Fiyat"]
x_train, x_test , y_train, y_test = train_test_split(x,y,test_size=0.30,random_state=42)
xgb_tuned = xgb.XGBRegressor(colsample_bytree = 0.4,learning_rate = 0.1,max_depth = 2,n_estimators = 750)
xgb_tuned.fit(x_train,y_train)
pred = xgb_tuned.predict(x_test)

In [3]:
model_dosyasi= "Renault.pickle"
pickle.dump(xgb_tuned, open(model_dosyasi, 'wb'))